
  .masthead {
      padding: 5em 0;
      background-size: cover;
      background-repeat: no-repeat;
      border-top: 1em solid #ffcf33;
  }
  
  .masthead-heading {
    font-size: 6em;
    font-family: "Open Sans", "Helvetica Neue", sans-serif;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: -0.02em;
    text-shadow: 1.5px 3px 0px #edc647;
    color: #F7E199;
    margin-top: -0.2em;
  
  }
  .masthead-intro {
    font-size: 2em;
    font-family: "Gentium Book Basic", Georgia, serif;
    text-align: center;
    color: #e5e5e5;
    margin-bottom: 0.1em;
  }
  
  .about-container {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
}

.contact-button {
    display: inline-block;
    padding: 10px 20px;
    text-decoration: none;
    background-color: #007bff;
    color: #fff;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.contact-button:hover {
    background-color: #0056b3;
}

  .intro,
  .more-about-me {
    max-width: 38em;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2em;
    text-align: left;
  }
  
  .bold {
    font-weight: bold;
  }
  
  .intro > p,
  .more-about-me > p {
    font-weight: 300;
    letter-spacing: 0.05em;
  }
  
  section > h1 {
    font-size: 30px;
    font-family: sans-serif;
    font-weight: bold;
    margin-bottom: 50px;
    padding-top: 30px;
  }
  
  .more-about-me > h2 {
    font-size: 1.2em;
    font-family: "Gentium Book Basic";
    font-weight: bold;
    color: #f7e199;
  }

  .content-footer {
    margin-top: 8em;
    padding-top: 4em;
    padding-bottom: 4em;
    background-color: #ffcf33;
  }
  
  .content-footer > p {
    font-weight: 300;
    text-align: center;
    letter-spacing: 0.05em;
    font-family: "Open Sans"
  }
  

  a:hover {
    color: #000;
  }
  
  @media only screen and (max-width:500px){
    .masthead {
      padding: 3em 0;
    }
    .masthead-heading {
      font-size: 3em;
    }
    .intro,
    .more-about-me,
    .content-footer {
      font-size: 0.5em;
    }
  }