.contact-form-wrapper {
        justify-content: center;
    margin:50px auto;
    width: 600px;
    .title {
      margin-bottom:30px;
     }
    h1 {
       font-size:18px;
      text-transform: uppercase;
      font-weight:bold;
    }
    p {
      font-size:14px;
      color: #777;
    }
  }
  .contact-form {
    display: flex;
    input {
      border-radius:0;
      height:50px;
      font-size:12px;
      color:#999;
    } 
    textarea {
      border-radius:0;
      font-size:12px;
      color:#999;
    }
    .submit-button {
      background: #00AEEF;
      color:#fff;
      font-size:12px;
      text-transform:uppercase;
      font-weight:bold;
      letter-spacing:1px;
    }
  }